<html>
<head>
<title>Register Form</title>
</head>
<body>
	<h2>Employee Register Form</h2>
	<form th:action="@{/employee/save}" method="post">
		<pre>
			NAME	<input type="text" name="empName" />
			SALARY	<input type="text" name="empSalary" />
			DEPT	<select name="empDept" id="empDept">
						<option value="">-SELECT-</option> 
						<option value="DEV">DEV</option>
						<option value="BA">BA</option> 
						<option value="TESTER">TESTER</option>	
						<option value="QA">QA</option>
					</select>
			
			<input type="submit" value="SAVE" />
		</pre>
	</form>
	<span th:text="${EmployeeMessage}"></span>
</body>
</html>